.Weather{
    font: blue;
}
.btn{
    background-image: linear-gradient( 135deg, #F6D242 10%, #FF52E5 100%);
}
.description{
    text-transform: capitalize;
}
.form{
    display: block;
    text-align: center;
}
.Weather h1{
    color: gray;
}
.WeatherIcon{
    display: block;
    text-align: center;
}
.WeatherInfo{
    display: block;
    text-align: center;
}
.WeatherTemperature{
    font-size: 40px;
}
.card-deck{
    background: linear-gradient(106.2deg, rgb(0, 186, 217) -4.3%, rgb(121, 134, 204) 14.1%, rgb(150, 117, 206) 34.7%, rgb(186, 105, 200) 53%, rgb(240, 71, 112) 74.7%, rgb(239, 162, 92) 95.6%);
    border: 5 px;
}